.header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  box-sizing: border-box;
  width: 100vw;
  padding: 16px 32px;
  background: #f7f8fa;
  z-index: 1000;
}

.header-start {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-brand {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
}

.header-end {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-lang {
  display: flex;
  align-items: center;
}

.header-lang-dropdown {
  min-width: 80px;
  font-weight: 600;
}

@media (max-width: 550px) {
  .header .p-button .p-button-label,
  .header .language-option,
  .header .language-value {
    display: none;
  }

  .header .p-button .p-button-icon-left,
  .header .p-dropdown .mr-2 {
    margin-right: auto !important;
  }
}
